body
{
 color: rgb(253, 249, 0);
 background-color: rgb(231, 169, 110);   
}
.heading
{
    width: 50%;
    font-size: 30px;
}
#Camera
{
    border: black 2px double;
    width: 400px;
    height: 400px;
}
.name_of_objects, #result_object_name, #result_object_accuracy
{
    color: blue;
}
